div.documentation_div {
  background-color: rgba(0, 0, 0, 0.60);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2147483647;
  backdrop-filter: blur(5px);
}

div.documentation_div_2 {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40);
  border-radius: 10px;
  overflow: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85vh;
  max-height: 85vh;
  min-width: 80vw;
  transform: translate(-50%, -50%);
  padding: 40px 50px 40px 50px;
  z-index: 2147483647;
  font-size: 0;
}

div.documentation_div .cell {
  display: inline-block;
  margin: 10px -5px 10px 0px;
  width: 120px;
  background-color: #F9FAFB;
  border-radius: 10px;
}

div.documentation_div .subtitle {
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: small;
  color: #A0A8B4;
}

div.documentation_div .subheading {
  display: block;
  font-size: small;
  background-color: #EAECEF;
  padding: 7px;
  border-radius: 5px 5px 0px 0px;
}

div.documentation_div .value {
  display: block;
  font-size: medium;
  font-weight: bold;
  padding: 7px;
}

div.documentation_div .cross {
  display: block;
  position: absolute;
  top: 10px;
  right: 17px;
  color: #DC2F21;
  background-color: white;
  font-weight: bold;
  font-size: medium;
}