var data = new google.visualization.arrayToDataTable([
          ['Humør', 'Antal observeret'],
          ['Angry', "{{ user.emotion_data.angry }}"],
          ['Disgusted', "{{ user.emotion_data.disgusted }}"],
          ['Fearful', "{{ user.emotion_data.fearful }}"],
          ['Happy', "{{ user.emotion_data.happy }}"],
          ['Neutral', "{{ user.emotion_data.neutral }}"],
          ['Sad', "{{ user.emotion_data.sad }}"],
          ['Surprised',"{{ user.emotion_data.surprised }}"],
      ]);

      function drawChart() {
        var data = new google.visualization.arrayToDataTable([
            ['Humør', 'Antal observeret', {role: 'style'}],
            ['Angry', parseFloat("{{ user.emotion_data.angry }}"), 'color: #ac6598'],
            ['Disgusted', parseFloat("{{ user.emotion_data.disgusted }}"), 'color: #3fb0e9'],
            ['Fearful', parseFloat("{{ user.emotion_data.fearful }}"), 'color: #42c698'],
            ['Happy', parseFloat("{{ user.emotion_data.happy }}"), 'green'],
            ['Neutral', parseFloat("{{ user.emotion_data.neutral }}"), 'color: #42c698'],
            ['Sad', parseFloat("{{ user.emotion_data.sad }}"), 'color: #3fb0e9'],
            ['Surprised',parseFloat("{{ user.emotion_data.surprised }}"), 'color: #ac6598'],
        ]);