{% extends "_base.html" %}
{% load static %}
{% block title %}Programmer{% endblock %}

<!DOCTYPE html>
<html lang="en">
  {% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" integrity="sha256-Nfu23DiRqsrx/6B6vsI0T9vEVKq1M6KgO8+TV363g3s=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/emotion/css/global.css" />
        <link rel="stylesheet" href="/static/emotion/css/tools-run.css" />
        <link rel="stylesheet" href="/static/emotion/css/documentation.css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/stats.js@0.17.0/build/stats.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        
    <script type="module" src="/static/emotion/js/tools/face-api.min.js"></script>
  <div style="position: center;">

    <div style="width: 100%;height: calc(100vh - 60px);">
     

      <div style="flex: 1; height: 100%; overflow-x: scroll;">
        <div id="main-body" style="display: flex;flex-direction: row;justify-content: center;width:100%;height: calc(100% - 100px);">
          <div id="main" style="display: flex; gap: 20px; align-items: flex-start; margin: 0px auto; overflow: hidden; overflow-y: scroll;">
            <video id="video2" playsinline="" style="display: none;" width="300" height="250">
              <source id="source" type="video/mp4">
            </video>    
            <video id="video" playsinline="" style="display: none;" width="300" height="250"></video>
            <canvas id="output"></canvas>
          </div>
        </div>

        <div class="recording-bar-container" style = "position:relative; top:-100px;">
          <div class="recording-bar">
            <div id="recording-bar-loader" class="loader"></div>
            <span id="recording-bar-message" class="loader_text">Loading model...</span>
            <div class="left">
              <input hidden id="upload_input" type="file" name="file" />
              <button id="recording-bar-upload" hidden class="button" onclick="document.getElementById('upload_input').click();">Upload Video</button>
            </div>
            <div class="center">
              <button hidden disabled id="recording-bar-tag" class="tag rounded-pill">Tag + <span id="recording-bar-tag-value" class="rounded-circle"> 0 </span> </button>
              <button hidden id="recording" class="recording"></button>
              <span hidden id="recording-bar-time" class="time_passed">00:00:00</span>
            </div>
            <div class="right">

              <form name="data_form" method="post">
                {% csrf_token %}
                <input type="hidden" name="faces" value="">
                <input type="hidden" name="angry" value="">
                <input type="hidden" name="disgusted" value="">
                <input type="hidden" name="fearful" value="">
                <input type="hidden" name="happy" value="">
                <input type="hidden" name="neutral" value="">
                <input type="hidden" name="sad" value="">
                <input type="hidden" name="surprised" value="">
              </form>

              <button hidden id="recording-bar-summary" class="button button-outline" onclick="document.getElementById('documentation_div').hidden = false;" disabled>Overview</button>
              <div class="dropup">
                <button disabled hidden class="dropdown-toggle button" id="download" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Download
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" id="download_video">Download Video</a>
                  <a class="dropdown-item" id="download_predictions" download="download.csv">Download Predictions</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        


      </div>
    </div>
  </div>

  <div hidden id="documentation_div" class="documentation_div">
    <div id="documentation_div_2" class="documentation_div_2">
      <button id="documentation_div_cross" class="cross">⨉</button>
      <script>
        document.getElementById('documentation_div_cross').addEventListener("click", function() {
          document.getElementById('documentation_div').hidden = true;
        });
      </script>
      <h3 style="margin-bottom: 40px;">Overview</h3>
      
<span class="subtitle">Basic information</span>
<div class="cell" style="margin-right: 20px;">
  <span class="subheading">Total Time</span>
  <span id="time" class="value">00:00:00</span>
</div>

<div class="cell">
  <span class="subheading">Total Frames</span>
  <span id="frames" class="value">000</span>
</div>

<span class="subtitle">Average detections per frame</span>
<div class="cell">
  <span class="subheading">Faces</span>
  <span id="people" class="value">01</span>
</div>

<span class="subtitle">Visualizations</span>
<div id="chartContainer" style="width: 95%; margin-top: 20px;"></div>

    </div>
  </div>

  <script src="/static/emotion/js/main/tools-run.js"></script>
   <script type="module" src="/static/emotion/js/tools/main.js"></script> 
  <link rel="stylesheet" href="/static/emotion/css/gui.css" />

  <!--  -->
   

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  {% endblock content %}

  {% block footer %}
      <!-- footer when size >= large -->
      <nav class="py-3 d-none d-lg-block bg-light">
          <div class="container">
              <div class="d-flex text-center justify-content-between flex-row">
                  <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-4 pb-5 pb-md-0" width="240" alt="dataekspeditioner-logo"></a>
                  <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-5"  width="310"  alt="Københavns Universitet"></a>
                  <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pt-1 pr-3" width="110" alt="Novo Nordisk Fonden"></a> 
              </div>
          </div>
      </nav>
  
      <!-- footer when small <= size < largen -->
      <div class="d-none d-sm-block d-lg-none">
          <nav class="py-4 px-sm-5 bg-light">
              <div class="d-flex justify-content-between flex-row bg-light">
                  <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-3 pl-3" width="150" alt="dataekspeditioner-logo"></a>
                  <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="150"  alt="Københavns Universitet"></a>
                  <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="80" alt="Novo Nordisk Fonden"></a> 
              </div>
          </nav>  
      </div>
  
      <!-- footer when size < small -->
      <div class="d-sm-none">
          <nav class="py-4 px-sm-5 bg-light">
              <div class="d-flex justify-content-between flex-row bg-light">
                  <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-2 pl-2" width="130" alt="dataekspeditioner-logo"></a>
                  <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="120"  alt="Københavns Universitet"></a>
                  <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="70" alt="Novo Nordisk Fonden"></a> 
              </div>
          </nav>  
      </div>

  {% endblock footer %}

</html>