{% extends "_base.html" %}
{% block content %}
<!DOCTYPE html>
<!--
This is an example HTML that shows how WebGazer can be used on a website.
This file provides the additional features:
  * An integrated, intuitive and sleek action bar with an informative "help" module accessible at all times
  * Structured 9-point calibration system
  * Accuracy measure of predictions based on calibration process
  * Video feedback regarding face positioning
  * Improved eye predictions visible to the user
Instructions on use can be found in the README repository.
-->
<html>
    <head>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE>WebGazer Demo</TITLE>
        <link rel="stylesheet" type="text/css" href="/static/webgaze/css/style.css">
        <!-- <link rel="stylesheet" href="/static/webgaze/css/bootstrap.min.css"> -->
        <!-- <script src="./tensorflow.js"></script> -->
        <script src="/static/webgaze/js/webgazer.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body LANG="en-US" LINK="#0000ff" DIR="LTR">
      <canvas id="plotting_canvas" width="0" height="0" style="cursor:crosshair;"></canvas>
    

        <script src="/static/webgaze/js/jquery.min.js"></script>
        <script src="/static/webgaze/js/sweetalert.min.js"></script>

        <script src="/static/webgaze/js/main.js"></script>
        <script src="/static/webgaze/js/calibration.js"></script>
        <script src="/static/webgaze/js/precision_calculation.js"></script>
        <script src="/static/webgaze/js/precision_store_points.js"></script>

        

       
        <main class="container mt-4 mt-lg-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col-md " style="width:40%; min-width: 400px;">
            <div class="card card-width1" style="height: 630px;">
                
            
                <div >
                  <div class="card-img-top bg-dark" id="video-container"></div>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-start">Gaze Detection</h5>
                    <p class="card-text dark text-start">Denne AI model forudsiger retning på dit blik. På baggrund af denne data, estimerer den din koncentrationsevnerofil, hvilket profileringsappen udnytter til at udvikle marketing-data tilkoblet din profil.</p>
                    <p class="dark"><span id="seconds">00</span>:<span id="tens">00</span></p>

                    <div class="btn-group" id="group1" role="group" style="display: inline-flex;" aria-label="Basic checkbox toggle button group">
                      <!-- <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off"> -->
                      <button class="btn btn-warning" for="btncheck1" onclick="Restart()">Calibrate <i class="fa-solid fa-circle-play"></i></button>
                      <button class="btn btn-success" id="button-start" for="btncheck1" onclick="">Start <i class="fa-solid fa-circle-play"></i></button>
                    
                      <!-- <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off"> -->
                      <button class="btn btn-danger" id="button-stop" for="btncheck2" disabled>Stop <i class="fa-solid fa-circle-stop"></i></button>                  
                    </div>  
                    <div class="btn-group text-center" id="group2" role="group" style="display: none;" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                      <label class="btn btn-warning" id="button-reset" for="btncheck2" >Genstart <i class="fa fa-refresh" aria-hidden="true"></i></label> 

                      <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                      <label id="button-graph" class="btn btn-primary" for="btncheck1">Tegn Graf <i class="fa fa-chart-column"></i></label>
                    
                      <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                      <label id="button-submit" class="btn btn-success" for="btncheck2">Gem <i class="fa-solid fa-download"></i></label>                  
                    </div> 
                                 
                </div>
                      
                <div class="card-footer bg-dark">
                    <small class="text-muted" style="color: white !important;">https://github.com/justadudewhohacks/face-api.js/</small>
                </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card" style="height: 630px; width: 120%; opacity: 0.5;">
              <div id="chart" class="chart" style="width: 100%; min-height: 450px; color:wheat;"></div>
              <div class="card-body" style="min-height: 100px; opacity: 1;">
                <h4>Data</h4>
                <div class="row" style="padding: auto;">
                  <div class="col">
                    <a id="pred-x">Prediction-X: 0</a>
                  </div>
                  <div class="col">
                    <a id="accuracy">Accuracy: 0</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <a id="pred-y">Prediction-Y: 0</a>
                  </div>
                  <div class="col">                 
                  </div>
                </div>

                
              </div>
              <div class="card-footer bg-dark">
                <small class="text-muted" style="color: white !important;">https://developers.google.com/chart</small>
            </div>
          </div>
        </div>
      </div>

        <!-- Calibration points -->
        <div class="calibrationDiv">
            <input type="button" class="Calibration" id="Pt1"></input>
            <input type="button" class="Calibration" id="Pt2"></input>
            <input type="button" class="Calibration" id="Pt3"></input>
            <input type="button" class="Calibration" id="Pt4"></input>
            <input type="button" class="Calibration" id="Pt5"></input>
            <input type="button" class="Calibration" id="Pt6"></input>
            <input type="button" class="Calibration" id="Pt7"></input>
            <input type="button" class="Calibration" id="Pt8"></input>
            <input type="button" class="Calibration" id="Pt9"></input>
        </div>

        </main>

        <!-- Latest compiled JavaScript -->
        <script src="/static/webgaze/js/resize_canvas.js"></script>
        <script src="/static/webgaze/js/bootstrap.min.js"></script>

    </body>
</html>
{% endblock content %}