{% extends "_base.html" %}
{% load static %}

{% block title %}Programmer{% endblock %}



<!DOCTYPE html>
<html lang="en">
    {% block content %}
        
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="pt-4 pb-5 pb-md-0" src="{% static 'programs/assets/ai.jpg' %}" alt="..." class="img-fluid" height="300" width="550" /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light text-white">Data Indsamling</h1>
                    <p class="text-white">Her kan du eksperimentere med forskellige AI modeller. De kan tracke din puls, hvor du kigger og dit humør. Dataen bliver automatisk gemt efter hvert eksperiment, og kan tilgåes under fanen "Data". </p>
                    <a class="btn btn-secondary" href="#!">Læs mere</a>
                </div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Emotion</h2>
                            <a href=""><img src="{% static 'programs/assets/smiley.jpg' %}" class="pt-4 pb-5 pb-md-0" width="275" height="200"></a>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm tex" href="emotion">Start</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Gaze</h2>
                            <a href=""><img src="{% static 'programs/assets/gaze.png' %}" class="pt-4 pb-5 pb-md-0" width="230" height="200"></a>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" href="gaze">Start</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Pulse</h2>
                            <a href=""><img src="{% static 'programs/assets/pulse.jpeg' %}" class="pt-4 pb-5 pb-md-0" width="275" height="200"></a>
                        </div>
                        <div class="card-footer"><a class="btn btn-secondary btn-sm" href="pulse">Start</a></div>
                    </div>
                </div>
            </div>
        </div>    
    {% endblock content %}
    {% block footer %}
        <!-- footer when size >= large -->
        <nav class="py-3 d-none d-lg-block bg-light">
            <div class="container">
                <div class="d-flex text-center justify-content-between flex-row">
                    <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-4 pb-5 pb-md-0" width="240" alt="dataekspeditioner-logo"></a>
                    <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-5"  width="310"  alt="Københavns Universitet"></a>
                    <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pt-1 pr-3" width="110" alt="Novo Nordisk Fonden"></a> 
                </div>
            </div>
        </nav>

        <!-- footer when small <= size < largen -->
        <div class="d-none d-sm-block d-lg-none">
            <nav class="py-4 px-sm-5 bg-light">
                <div class="d-flex justify-content-between flex-row bg-light">
                    <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-3 pl-3" width="150" alt="dataekspeditioner-logo"></a>
                    <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="150"  alt="Københavns Universitet"></a>
                    <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="80" alt="Novo Nordisk Fonden"></a> 
                </div>
            </nav>  
        </div>

        <!-- footer when size < small -->
        <div class="d-sm-none">
            <nav class="py-4 px-sm-5 bg-light">
                <div class="d-flex justify-content-between flex-row bg-light">
                    <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-2 pl-2" width="130" alt="dataekspeditioner-logo"></a>
                    <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="120"  alt="Københavns Universitet"></a>
                    <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="70" alt="Novo Nordisk Fonden"></a> 
                </div>
            </nav>  
        </div>
    {% endblock footer %}
</html>
