Django==4.0.8
Click==7.0
Flask==1.0.2
Flask-Sockets==0.2.1
gunicorn==19.9.0
environs
itsdangerous==1.1.0
django-sekizai
Jinja2==2.10
MarkupSafe==1.1.0
numpy
asgiref==3.5.2
psycopg2-binary==2.9.3
sqlparse==0.4.3
django-crispy-forms==1.14.0 
crispy-bootstrap5==0.6
django-allauth==0.50.0
pillow
Werkzeug==0.14.1
pandas
django-encrypted-model-fields
dj-database-url