{% extends "_base.html" %}
{% load static %}
{% block title %}Mine markeder{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/style.css" />
<main class="container mt-4 mt-lg-5">
    <div class="container px-4 px-4 d-flex justify-content-center">

        {% if emotion_data %}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script>let txt = document.createElement("textarea");</script>

            <table class="table table-light table-hover" style="--bs-table-bg: #181818; color: white;">

                <thead class="table-dark cream" style="--bs-table-bg: #181818">
                    <tr class="#dfe0e1">
                        <th style="font-size: 20px !important;">Data</th>
                        <th style="font-size: 20px !important;">Graf</th>
                        <th style="font-size: 20px !important;">CSV</th>
                        <th style="font-size: 20px !important;">Oprettet</th>
                        <th style="font-size: 20px !important;">Dominerende humør</th>
                        <th style="font-size: 20px !important;">Størrelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for data in emotion_data %}
                    <script type="text/javascript">
                        
                            
                        google.charts.load('current', {'packages':['bar']});
                        google.charts.setOnLoadCallback(drawStuff);
                        str = '{{ data.data }}';
                        txt.innerHTML = str;
                        test = txt.value
    
                        function drawStuff() {
                        var data = new google.visualization.arrayToDataTable([
                                ['Humør', 'Antal observeret'],
                                ['Angry', parseFloat("{{ data.angry }}")],
                                ['Disgusted', parseFloat("{{ data.disgusted }}")],
                                ['Fearful', parseFloat("{{ data.fearful }}")],
                                ['Happy', parseFloat("{{ data.happy }}")],
                                ['Neutral', parseFloat("{{ data.neutral }}")],
                                ['Sad', parseFloat("{{ data.sad }}")],
                                ['Surprised',parseFloat("{{ data.surprised }}")],
                            ]);
                    
                        var options = {
                            backgroundColor: {
                                fill: 'black',
                                fillOpacity: 0
                            },
                            legend: { position: 'none' },
                            colors: ['white'],
                            chart: {
                            },
                            axes: {
                            },
                            bar: { groupWidth: "60%" },
                            hAxis : { 
                            textStyle : {
                                color: '#FFF',
                                fontSize: 18 // or the number you want
                            }
                            },
                            vAxis : { 
                                title: 'Antal Observationer',
                                textStyle : {
                                    fontSize: 18, // or the number you want
                                    color: '#FFF'
                                }
                            },
                            chartArea: {
                                backgroundColor: {
                                fill: 'black',
                                fillOpacity: 0
                                },
                            },
                            
                        };
                    
                        var chart = new google.charts.Bar(document.getElementById("{{ data.title }}_"));
                        var title = "{{ data.title }}_"
                        console.log(title)
                        // Convert the Classic options to Material options.
                        chart.draw(data, google.charts.Bar.convertOptions(options));
                        };
                        $(window).resize(function(){
                            drawStuff();
                        });
                    </script>
                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom{{ data.title }}_" aria-labelledby="offcanvasBottom{{ data.title }}_" style="height: 80%; overflow-y: hidden !important; background-color: rgba(0, 0, 0, 0.7);">
                        <div class="container justify-content-center">
                        <div class="offcanvas-header" style="display: block;">
                            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="size: 15vh; float:right; padding-bottom: 5vh;"></button>
                        </div>
                        
                        </div>
                        <div class="offcanvas-body large" style="overflow-y: hidden !important; overflow-y: hidden !important;">
                            <div class="row">
                                <div class="col-7">
                                    <div id="{{ data.title }}_" class="chart" style="width: 90%; min-height: 500px; color:wheat; padding-bottom: 3vh; padding-left: 5vw;"></div>
                                </div>
                                <div class="col-4" style="align-items:flex-start">
                                    <div>
                                        <div class="row-2" style="padding-top: 0vh; padding-left: 0vw;">
                                            <span style="font-size: 22px; font-weight: bold;"> Humør </span>
                                            <span style="font-size: 22px; float:right;">{{ data.dominant }}</span>
                                        </div>
                                        <hr style="color: white; opacity: 1;">
                                        <div class="row-2" style="padding-top: 3vh; padding-left: 0vw;">
                                            <span style="font-size: 22px; font-weight: bold;"> Alder </span>
                                            <span style="font-size: 22px; float:right;">{{ data.age }}</span>
                                        </div>
                                        <hr style="color: white; opacity: 1;">
                                        <div class="row-2" style="padding-top: 3vh; padding-left: 0vw;">
                                            <span style="font-size: 22px; font-weight: bold;"> Køn </span>
                                            <span style="font-size: 22px; float:right;">{{ data.gender }}</span>
                                        </div>
                                        <hr style="color: white; opacity: 1;">
                                        <div class="row-2" style="padding-top: 3vh; padding-left: 0vw;">
                                            <span style="font-size: 22px; font-weight: bold;"> Størrelse </span>
                                            <span style="font-size: 22px; float:right;">{{ data.faces }}</span>
                                        </div>
                                        <hr style="color: white; opacity: 1;">
                                        <div class="row-2" style="padding-top: 3vh; padding-left: 0vw;">
                                            <span style="font-size: 22px; font-weight: bold;"> Oprettet </span>
                                            <span style="font-size: 22px; float:right;">{{ data.created_at }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                        <td><a href="#">{{ data.title }}</a></td>
                        <td>
                            <button type="button" id="{{ data.title }}_" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom{{ data.title }}_" aria-controls="offcanvasBottomLabel">
                                Vis graf
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success" onclick="prepare_download('{{ data.id }}'); document.getElementById('download_data_form').submit();">
                                Download CSV
                                <i class="fa-solid fa-download"></i>
                            </button> 

        
                        </td>
                        <td>{{ data.created_at }}</td>
                        <td>
                            {{ data.dominant }}
                        </td>
                        <td>
                        {{ data.faces }}
                        </td>    
                        <td>  
                            <button class="btn btn-danger" onclick="prepare_delete('{{ data.id }}')">
                                Slet
                                <i class="fa-solid fa-trash-can"></i>
                            </button>                       
                        </td>
                    </tr>
        
                {% endfor %}
            </tbody>
            </table>

            <form id="delete_data_form" action="" method="POST">
                {% csrf_token %}
                <input id="delete_data_id" type="hidden" name="delete_data_id" value="">
            </form>

            <form id="download_data_form" action="" method="POST">
                {% csrf_token %}
                <input id="download_data_id" type="hidden" name="download_data_id" value="">
            </form>
        
            <script>
                function prepare_delete(data_id){
                    document.getElementById('delete_data_id').value = data_id
                    document.getElementById('modal-body').innerHTML = `Er du sikker på, at du vil slette data?` 
                    $('#confirmationPopUp').modal('show');
                }

                function prepare_download(data_id){
                    document.getElementById('download_data_id').value = data_id;
                }
                
            </script>

            
        <!-- Pop-up confirmation before delete -->
        <div class="modal fade" id="confirmationPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Slet data</h5>
                        <button type="button" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fortryd</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            onclick="document.getElementById('delete_data_form').submit()">Fjern</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% else %}
    <p>Du har ikke udført nogle eksperimenter endnu.</p>
{% endif %}
{% endblock %}