{% extends "_base.html" %}
{% load static %}
{% block title %}Mine markeder{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/style.css" />
<main class="container mt-4 mt-lg-5">
  <div class="container px-4 px-4 d-flex justify-content-center">


    {% if gaze_data %}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <table class="table table-light table-hover" style="--bs-table-bg: #181818; color: white;">

              <thead class="table-dark cream" style="--bs-table-bg: #181818">
                    <tr class="#dfe0e1">
                        <th>Data</th>
                        <th>Graf</th>
                        <th>CSV</th>
                        <th>Oprettet</th>
                        <th>Up gaze</th>
                        <th>Screen gaze</th>
                        <th>Down gaze</th>
                        <th>Størrelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for data in gaze_data %}

                      <script type="text/javascript">
                          google.charts.load('current', {'packages':['corechart']});
                          google.charts.setOnLoadCallback(drawChart);
                          var data_scatter = []

                          function drawChart() {
                              var data = new google.visualization.DataTable();
                              data.addColumn('number', 'x');
                              data.addColumn('number', 'y');
                              var data_scatter = document.forms['show_data_form'].elements['show_data_id'].value;
                              data_scatter = JSON.parse(data_scatter);
                              data.addRows(data_scatter);
                              

                              var options = {
                                backgroundColor: {
                                    fill: 'black',
                                    fillOpacity: 0
                                },
                                  colors: ['#FFF'],
                                  legend: { position: 'none' },
                                  hAxis : {
                                    textStyle : {
                                        color: '#FFF',
                                        fontSize: 18 // or the number you want
                                    }
                                  },
                                  vAxis : {
                                    textStyle : {
                                        fontSize: 18, // or the number you want
                                        color: '#FFF'
                                    }
                                  },
                                  chartArea: {
                                    backgroundColor: {
                                      fill: '#181818',
                                      fillOpacity: 0.1
                                    },
                                  },
                                  
                              };

                              var chart = new google.visualization.ScatterChart(document.getElementById('{{ data.title }}'));
                              chart.draw(data, options);
                              }
                              $(window).resize(function(){
                                  drawChart();
                              });
                        
                      </script>
                      <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom{{ data.title }}" aria-labelledby="offcanvasBottom{{ data.title }}" style="height: 80%; overflow-y: hidden !important; background-color: rgba(0, 0, 0, 0.7);">
                        <div class="container justify-content-center">
                        </div>
                        <div class="offcanvas-header">
                          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body large" style="overflow-y: hidden !important; overflow-y: hidden !important;">
                          <div class="row">
                            <div class="col-7">
                              <div id="{{ data.title }}" class="chart" style="width: 100%; min-height: 700px; color:wheat; padding-left: 5vw; padding-bottom: 40vh;"></div>
                            </div>
                            <div class="col-4" style="align-items:flex-start">
                              <div>
                                  <div class="row-2" style="padding-top: 0vh; padding-left: 0vw;">
                                      <span style="font-size: 22px; font-weight: bold;"> Up </span>
                                      <span style="font-size: 22px; float:right;">{{ data.up }}</span>
                                  </div>
                                  <hr style="color: white; opacity: 1;">
                                  <div class="row-2" style="padding-top: 3vh; padding-left: 0vw;">
                                    <span style="font-size: 22px; font-weight: bold;"> Screen </span>
                                    <span style="font-size: 22px; float:right;">{{ data.screen }}</span>
                                </div>
                                  <hr style="color: white; opacity: 1;">
                                  <div class="row-2" style="padding-top: 3vh; padding-left: 0vw;">
                                      <span style="font-size: 22px; font-weight: bold;"> Down </span>
                                      <span style="font-size: 22px; float:right;">{{ data.down }}</span>
                                  </div>
                                  <hr style="color: white; opacity: 1;">
                                  <div class="row-2" style="padding-top: 3vh; padding-left: 0vw;">
                                      <span style="font-size: 22px; font-weight: bold;"> Størrelse </span>
                                      <span style="font-size: 22px; float:right;">{{ data.size }}</span>
                                  </div>
                                  <hr style="color: white; opacity: 1;">
                                  <div class="row-2" style="padding-top: 3vh; padding-left: 0vw;">
                                      <span style="font-size: 22px; font-weight: bold;"> Oprettet </span>
                                      <span style="font-size: 22px; float:right;">{{ data.created_at }}</span>
                                  </div>
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>
                      
                        <td><a href="#">{{ data.title }}</a></td>
                        <td>
                            <form id="show_data_form" action="" method="POST">
                              {% csrf_token %}
                              <input id="show_data_id" type="hidden" name="show_data_id" value="{{ data.data }}">
                            </form>
                            <button type="button" id="{{ data.title }}" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom{{ data.title }}" aria-controls="offcanvasBottomLabel">
                                Vis graf
                                <i class="fa-solid fa-eye"></i>
                              </button>
                        </td>
                        <td>
                          <button class="btn btn-success" onclick="prepare_download('{{ data.id }}'); document.getElementById('download_data_form').submit();">
                              Download CSV
                              <i class="fa-solid fa-download"></i>
                          </button>  
                        </td>
                        <td>{{ data.created_at }}</td>
                        <td>{{ data.up }}</td>
                        <td>{{ data.screen }}</td>
                        <td>{{ data.down }}</td>
                        <td>
                          {{ data.size }}
                        </td>    
                        <td>  
                            <button class="btn btn-danger" onclick="prepare_delete('{{ data.id }}')">
                                Slet
                                <i class="fa-solid fa-trash-can"></i>
                            </button>                       
                        </td>
                    </tr>
        
                {% endfor %}
              </tbody>
            </table>

            <form id="download_data_form" action="" method="POST">
              {% csrf_token %}
              <input id="download_data_id" type="hidden" name="download_data_id" value="">
            </form>
            <form id="delete_data_form" action="" method="POST">
              {% csrf_token %}
              <input id="delete_data_id" type="hidden" name="delete_data_id" value="">
            </form>

          
            <script>
              function prepare_delete(data_id){
                  document.getElementById('delete_data_id').value = data_id
                  document.getElementById('modal-body').innerHTML = `Er du sikker på, at du vil slette data?` 
                  $('#confirmationPopUp').modal('show');
              }

              function prepare_download(data_id){
                  document.getElementById('download_data_id').value = data_id;
              }

              function print_hi(){
                // console.log(document.forms['show_data_form'].elements['show_data_id'].value)
              }
          </script>
          <!-- Pop-up confirmation before delete -->
          <div class="modal fade" id="confirmationPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content dark">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Slet data</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body" id="modal-body">
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fortryd</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal"
                              onclick="document.getElementById('delete_data_form').submit()">Fjern</button>
                      </div>
                  </div>
              </div>
          </div>
    {% endif %}
  </div>
</main>
{% endblock %}