{% extends "_base.html" %}
{% load static %}
{% block title %}Mine markeder{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/style.css" />
<main class="container mt-4 mt-lg-5">
    <div class="container px-4 px-4 d-flex justify-content-center">

        {% if emotion_data %}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <table class="table table-light table-hover" style="border:1px solid white; --bs-table-bg: #181818; color: white;">

                <thead class="table-dark cream" style="--bs-table-bg: #181818">
                    <tr class="#dfe0e1">
                        <th>Data</th>
                        <th>Graf</th>
                        <th>CSV</th>
                        <th>Oprettet</th>
                        <th>Dominerende humør</th>
                        <th>Størrelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for data in emotion_data %}

                    <script type="text/javascript">
                        
                        google.charts.load('current', {'packages':['bar']});
                        google.charts.setOnLoadCallback(drawStuff);
                        
                    
                        function drawStuff() {
                        var data = new google.visualization.arrayToDataTable([
                                ['Humør', 'Antal observeret'],
                                ['Angry', parseFloat("{{ data.angry }}")],
                                ['Disgusted', parseFloat("{{ data.disgusted }}")],
                                ['Fearful', parseFloat("{{ data.fearful }}")],
                                ['Happy', parseFloat("{{ data.happy }}")],
                                ['Neutral', parseFloat("{{ data.neutral }}")],
                                ['Sad', parseFloat("{{ data.sad }}")],
                                ['Surprised',parseFloat("{{ data.surprised }}")],
                            ]);
                    
                        var options = {
                            legend: { position: 'none' },
                            colors: ['black'],
                            chart: {
                            },
                            axes: {
                            },
                            bar: { groupWidth: "60%" },
                            hAxis : { 
                            textStyle : {
                                fontSize: 18 // or the number you want
                            }
                            },
                            vAxis : { 
                            textStyle : {
                                fontSize: 18 // or the number you want
                            }
                            },
                        };
                    
                        var chart = new google.charts.Bar(document.getElementById("{{ data.title }}"));
                        var title = "{{ data.title }}"
                        console.log(title)
                        // Convert the Classic options to Material options.
                        chart.draw(data, google.charts.Bar.convertOptions(options));
                        };
                        $(window).resize(function(){
                            drawStuff();
                        });
                    </script>
                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom{{ data.title }}" aria-labelledby="offcanvasBottom{{ data.title }}" style="height: 80%; overflow-y: hidden !important;">
                        <div class="container justify-content-center">
                        <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasBottomLabel">{{ data.title }}</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body large" style="overflow-y: hidden !important; overflow-y: hidden !important;">
                        <div class="col-8">
                        <div id="{{ data.title }}" class="chart" style="width: 100%; min-height: 500px; color:wheat"></div>
                        </div>
                        </div>
                        </div>
                    </div>
                    
                        <td><a href="#">{{ data.title }}</a></td>
                        <td>
                            <button type="button" id="{{ data.title }}" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom{{ data.title }}" aria-controls="offcanvasBottomLabel">
                                Vis graf
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success" onclick="prepare_download('{{ data.id }}'); document.getElementById('download_data_form').submit();">
                                Download CSV
                                <i class="fa-solid fa-download"></i>
                            </button> 

        
                        </td>
                        <td>{{ data.created_at }}</td>
                        <td>
                            {{ data.dominant }}
                        </td>
                        <td>
                        {{ data.faces }}
                        </td>    
                        <td>  
                            <button class="btn btn-danger" onclick="prepare_delete('{{ data.id }}')">
                                Slet
                                <i class="fa-solid fa-trash-can"></i>
                            </button>                       
                        </td>
                    </tr>
        
                {% endfor %}
            </tbody>
            </table>

            <form id="delete_data_form" action="" method="POST">
                {% csrf_token %}
                <input id="delete_data_id" type="hidden" name="delete_data_id" value="">
            </form>

            <form id="download_data_form" action="" method="POST">
                {% csrf_token %}
                <input id="download_data_id" type="hidden" name="download_data_id" value="">
            </form>
        
            <script>
                function prepare_delete(data_id){
                    document.getElementById('delete_data_id').value = data_id
                    document.getElementById('modal-body').innerHTML = `Er du sikker på, at du vil slette data?` 
                    $('#confirmationPopUp').modal('show');
                }

                function prepare_download(data_id){
                    document.getElementById('download_data_id').value = data_id;
                }
            </script>

            
        <!-- Pop-up confirmation before delete -->
        <div class="modal fade" id="confirmationPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Slet data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fortryd</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            onclick="document.getElementById('delete_data_form').submit()">Fjern</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endif %}
{% endblock %}