{% extends "_base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}



<!DOCTYPE html>
<html lang="en">
    {% block content %}
    <link href="{% static "style.css" %}" rel="stylesheet" />
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h1>Min Profil</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Essentiel</h2>
            </div>
        </div>
        <table class="table">
            <thead  class="table-dark">
              <tr>
                <th scope="row" >Brugernavn</th>
                <th scope="row" >Skole</th>
                <th scope="row" >Fag</th>
              </tr>
            </thead>
            <tbody class="table-info">
              <tr>
                <th scope="row">{{ user.username }}</th>
                <th scope="row">{{ user.skole }}</th>
                <th scope="row">{{ user.fag }}</th>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-6">
                <h2>Marketing</h2>
            </div>
        </div>
        <table class="table rounded">
            <thead  class="table-dark">
              <tr>
                <th scope="row">Alder</th>
                <th scope="row">Køn</th>
                <th scope="row">Koncentrationsevne</th>
                <th scope="row">Sidste humør</th>
                <th scope="row">Gennemsnitligt humør</th>
                <th scope="row">It færdigheder</th>
              </tr>
            </thead>
            <tbody class="table-info">
              <tr>
                <th scope="row">N/A</th>
                <th scope="row">N/A</th>
                <th scope="row">N/A</th>
                <th scope="row">N/A</th>
                <th scope="row">N/A</th>
                <th scope="row">{{ user.it_færdighed }}</th>
              </tr>
            </tbody>
          </table>

    </div>
    {% endblock content %}
    {% block footer %}
        <!-- footer when size >= large -->
        <nav class="py-3 d-none d-lg-block bg-light">
            <div class="container">
                <div class="d-flex text-center justify-content-between flex-row">
                    <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-4 pb-5 pb-md-0" width="240" alt="dataekspeditioner-logo"></a>
                    <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-5"  width="310"  alt="Københavns Universitet"></a>
                    <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pt-1 pr-3" width="110" alt="Novo Nordisk Fonden"></a> 
                </div>
            </div>
        </nav>

        <!-- footer when small <= size < largen -->
        <div class="d-none d-sm-block d-lg-none">
            <nav class="py-4 px-sm-5 bg-light">
                <div class="d-flex justify-content-between flex-row bg-light">
                    <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-3 pl-3" width="150" alt="dataekspeditioner-logo"></a>
                    <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="150"  alt="Københavns Universitet"></a>
                    <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="80" alt="Novo Nordisk Fonden"></a> 
                </div>
            </nav>  
        </div>

        <!-- footer when size < small -->
        <div class="d-sm-none">
            <nav class="py-4 px-sm-5 bg-light">
                <div class="d-flex justify-content-between flex-row bg-light">
                    <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-2 pl-2" width="130" alt="dataekspeditioner-logo"></a>
                    <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="120"  alt="Københavns Universitet"></a>
                    <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="70" alt="Novo Nordisk Fonden"></a> 
                </div>
            </nav>  
        </div>
    {% endblock footer %}
</html>
