{% extends "_base.html" %}
{% load static %}

{% block title %}Programmer{% endblock %}



<!DOCTYPE html>
<html lang="en">
    {% block content %}
    <link rel="stylesheet" href="/static/style.css" />
    <main class="container mt-4 mt-lg-5">
    <div class="container justify-content-center">
        <!-- Heading Row-->
        <div class="container px-4 px-4 d-flex justify-content-center">
            <div class="row gx-4 gx-lg-5 align-items-center my-5" style="height: auto; width: auto;" >
                <div class="col-lg-6"><img class="img-fluid img_home1" src="{% static 'img/image.png' %}" class="img-responsive;" style="width:100%;height:auto;" />
                </div>
                <div class="col-lg-6">
                    <h1 class="font-weight-light light">Neural Network</h1>
                    <p>Her kan du eksperimentere med forskellige AI modeller. De kan tracke hvor du kigger, din alder, dit køn og dit humør. Dataen kan gemmes efter hvert eksperiment, og efterfølgende tilgåes under fanen "Data". Programmerne er bygget på en type AI kaldet neural networks, som er specielt gode til at finde mønstre i grafisk materiale såsom billeder og videoer. </p>
                    <!-- <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark">Læs mere <i class="fa-solid fa-circle-info"></i></button> -->
                </div>
            </div>
        </div>
    
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-auto center-col">
                <div class="card card-width10" style="background-color: #181818;">
                    <div class="d-flex justify-content-center" style="height: 35vh;">
                        <img src="{% static 'img/drama.png' %}" class="img_home10" alt="..." style="background-color: #181818;">
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h1 class="card-title">Emotion Detection</h1>
                        </div>
                        <form class="row g-3">
                              <!-- <label for="inputPassword2" class="visually-hidden"></label> -->
                              <!-- <input type="text" class="form-control" id="inputText" placeholder="Indsæt titel"> -->
                            <div class="d-flex justify-content-center" style="padding-top: 3vh;">
                                <a href="{% url 'emotion' %}" class="btn btn-outline-success btn-lg mb-3">
                                    <i class="fa-solid fa-circle-play"></i>
                                    Start Eksperiment
                                </a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-auto center-col">
                <div class="card card-width10" style="background-color: #181818;">
                    <div class="d-flex justify-content-center" style="height: 35vh;  align-items: center;">
                        <img src="{% static 'img/eye2.png' %}" class="img_home11" alt="..." style="background-color: #181818;">
                    </div>
                    <div class="card-body" >
                        <div class="d-flex justify-content-center">
                            <h1 class="card-title">Gaze Detection</h1>
                        </div>
                        <form class="row g-3">
                              <!-- <label for="inputPassword2" class="visually-hidden"></label> -->
                              <!-- <input type="text" class="form-control" id="inputText" placeholder="Indsæt titel"> -->
                            <div class="d-flex justify-content-center" style="padding-top: 3vh;">
                                <a href="{% url 'gaze' %}" class="btn btn-outline-success btn-lg mb-3">
                                    <i class="fa-solid fa-circle-play"></i>
                                    Start Eksperiment
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-4 px-4 d-flex justify-content-center">
            <div class="row gx-4 gx-lg-5 align-items-center my-5" style="height: auto; width: auto;" >
                <div class="col-lg-6">
                    <h1 class="font-weight-light light">Skræddersyet Reklame</h1>
                    <p>Når du anvender Gaze eller Emotion-detection, indsamles der automatisk data. Ud fra videooptagelserne anvendes AI til at approksimere køn, alder, koncentrationsevne og humør.</p> 
                    <p>Denne data bruges til at kategorisere dig, hvilket gør det muligt at fremvise en reklame skræddersyet til dig.
                    Det er bland andet sådan store tech virksomheder tjener penge på at høste brugerdata.</p>
                    <div class="d-flex justify-content-center" style="padding-top: 4vh;">
                        <button type="button" class="btn btn-outline-primary btn-lg" data-mdb-ripple-color="dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Vis reklame </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #181818;">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Reklame</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: white !important"></button>
                            </div>
                            <div class="modal-body" >
                                {% if user.reklame == 9 %}
                                <img class="img-fluid" src="{% static 'reklame/17år.png' %}" class="d-block w-100" alt="..." style="width: 100vw !important;">
                                {% elif user.reklame == 8 %}
                                <img class="img-fluid" src="{% static 'reklame/koncentration.jpeg' %}" class="d-block w-100" alt="..." style="width: 100vw !important;">
                                {% elif user.reklame == 7 %}
                                <img class="img-fluid" src="{% static 'reklame/happy.jpeg' %}" class="d-block w-100" alt="..." style="width: 100vw !important;">
                                {% elif user.reklame == 6 %}
                                <img class="img-fluid" src="{% static 'reklame/angry.jpeg' %}" class="d-block w-100" alt="..." style="width: 100vw !important;">
                                {% elif user.reklame == 5 %}
                                <img class="img-fluid" src="{% static 'reklame/sad.jpeg' %}" class="d-block w-100" alt="..." style="width: 100vw !important;">
                                {% elif user.reklame == 4 %}
                                <img class="img-fluid" src="{% static 'reklame/female.jpeg' %}" class="d-block w-100" alt="..." style="width: 100vw !important;">
                                {% elif user.reklame == 3 %}
                                <img class="img-fluid" src="{% static 'reklame/male.jpeg' %}" class="d-block w-100" alt="..." style="width: 100vw !important;">
                                {% elif user.reklame == 2 %}
                                <img class="img-fluid" src="{% static 'reklame/samfundsfag.jpeg' %}"  alt="..." style="width: 200vw !important;">
                                {% else %}
                                <img class="img-fluid" src="{% static 'reklame/informatik.jpeg' %}" class="d-block w-100" alt="..." style="width: 100vw !important;">
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tilbage</button>
                            </div>
                        </div>
                        </div>
                    </div>
            
                </div>
                <div class="col-lg-6">
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid img_program" src="{% static 'img/target.png' %}" class="img-responsive;" style="width:100%;height:auto;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>


    {% endblock content %}
    {% block footer %}
        <!-- footer when size >= large -->
        <nav class="py-3 d-none d-lg-block bg-light">
            <div class="container">
                <div class="d-flex text-center justify-content-between flex-row">
                    <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-4 pb-5 pb-md-0" width="240" alt="dataekspeditioner-logo"></a>
                    <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-5"  width="310"  alt="Københavns Universitet"></a>
                    <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pt-1 pr-3" width="110" alt="Novo Nordisk Fonden"></a> 
                </div>
            </div>
        </nav>

        <!-- footer when small <= size < largen -->
        <div class="d-none d-sm-block d-lg-none">
            <nav class="py-4 px-sm-5 bg-light">
                <div class="d-flex justify-content-between flex-row bg-light">
                    <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-3 pl-3" width="150" alt="dataekspeditioner-logo"></a>
                    <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="150"  alt="Københavns Universitet"></a>
                    <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="80" alt="Novo Nordisk Fonden"></a> 
                </div>
            </nav>  
        </div>

        <!-- footer when size < small -->
        <div class="d-sm-none">
            <nav class="py-4 px-sm-5 bg-light">
                <div class="d-flex justify-content-between flex-row bg-light">
                    <a href="https://dataekspeditioner.dk/"><img src="{% static 'img/dataekspeditioner_sort.png' %}" class="pt-2 pl-2" width="130" alt="dataekspeditioner-logo"></a>
                    <a href="https://ku.dk"><img src="{% static 'img/ku_logo_dk_hh-300x112.png' %}" class="px-2" width="120"  alt="Københavns Universitet"></a>
                    <a href="https://novonordiskfonden.dk/da/"><img src="{% static 'img/NNF_blue_RGB_solid.png' %}" class="pr-3" width="70" alt="Novo Nordisk Fonden"></a> 
                </div>
            </nav>  
        </div>
    {% endblock footer %}
</html>
