.dg.ac {
  position: unset !important;
}

.dg.main, .dg.main li {
  font: var(--font-paragraph-Xsmall);
  color: var(--dark);
  text-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dg .c select {
  margin: 0;
  background-color: var(--grey-light);
  border: none;
  padding: 2px 5px;
  border-radius: 2px;
}

.dg.main .button {
  display: unset; 
  font: inherit;
  background-color: unset;
  padding: 0;
  border-radius: 0;
}

.dg.main .close-button.close-bottom {
  display: none;
}

.dg .cr.function, .dg .cr.function:hover {
  color: var(--white);
  background-color: var(--red);
  border-left: none;
}

.dg li:not(.folder) {
  height: 35px;
}

.dg.main li div.c {
  text-align: right;
}

.dg li:not(.folder) {
  padding: 0 10px 0 10px;
}

.dg .closed li.title {
  background-image: none;
}

.dg .cr.function .property-name {
  width: 100%;
}

.dg li:not(.folder) {
  background: var(--white);
  border-bottom: 1px solid var(--grey);
}

.dg .cr.string {
  border-left: 8px solid var(--accent-dark);
}

.dg .cr.number {
  border-left: 8px solid var(--blue);
}

.dg .cr.boolean, .dg .cr.boolean:hover {
  background-color: var(--white);
  border-left: 8px solid var(--red);
}

.dg li.title {
  font: var(--font-paragraph-Xsmall-bold);
  background-color: transparent !important;
  margin-top: 10px !important;
  border: none !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dg li.title:before {
  content: url("data:image/svg+xml,%3Csvg id='pointer' xmlns='http://www.w3.org/2000/svg' width='12' viewBox='0 0 20 13'%3E%3Cpath fill='%235e7273' d='M8.415,2.061a2,2,0,0,1,3.17,0l5.938,7.72A2,2,0,0,1,15.938,13H4.062A2,2,0,0,1,2.476,9.781Z' transform='translate(20 13) rotate(180)'/%3E%3C/svg%3E");
  margin: 0 5px 0 0;
  transition: all 400ms;
}

.dg .closed li.title:before {
  content: url("data:image/svg+xml,%3Csvg id='pointer' xmlns='http://www.w3.org/2000/svg' width='12' viewBox='0 0 20 13'%3E%3Cpath fill='%235e7273' d='M8.415,2.061a2,2,0,0,1,3.17,0l5.938,7.72A2,2,0,0,1,15.938,13H4.062A2,2,0,0,1,2.476,9.781Z' transform='translate(20 13) rotate(180)'/%3E%3C/svg%3E");
  margin: 0 5px 0 0;
  transform: rotate(-90deg);
  transition: all 400ms;
}

.dg li.folder {
  border: none;
}

.dg .c input[type=text], .dg .c input[type=text]:hover, .dg .c input[type=text]:focus {
  background: var(--grey-light);
  color: var(--dark) !important;
  padding: 2px 5px;
  border-radius: 2px;
  margin: 0;
}

.dg .c .slider, .dg .c .slider:hover {
  background: var(--grey-light);
  border-radius: 2px;
  margin: 0;
  height: 23px;
}

.dg .c .slider-fg, .dg .c .slider-fg:hover {
  border-radius: 2px;
  background: var(--blue) !important;
}

.dg li span {
  line-height: 25px;
}