/* --------- Header --------- */

.title-container {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.tool-title {
  font: var(--font-heading-3-serif);
  margin-bottom: 0;
}

.tool-caption {
  font: var(--font-paragraph-small);
  color: var(--grey-medium);
  margin: 0;
}


/* --------- Header --------- */


/* --------- Recording Bar --------- */

.recording-bar-container {
  position: static;
  height: 100px;
  padding: 20px 20px 20px 20px;
  max-width: 600px;
  margin: 0 auto;
}

.recording-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 100%;
  width: 100%;
  background-color: #A0A8B4;
  border: 1px #A0A8B4;
  border-radius: 10px;
  gap: 10px;
  overflow-x: scroll;
}

.recording-bar .right,
.recording-bar .left,
.recording-bar .center {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

button,
button:focus {
  border: none;
  outline: none;
}

button.recording {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  border: 8px solid var(--red-highlight);
  height: 45px;
  width: 45px;
  min-height: 45px;
  min-width: 45px;
  padding: 0;
  border-radius: 100%;
}

button.recording:disabled {
  background-color: var(--grey-light);
  border-color: var(--grey);
  cursor: not-allowed;
  box-shadow: none;
}

button.recording.pulse {
  animation-name: pulse;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    background-color: var(--red-highlight);
  }
  30% {
    background-color: var(--red-highlight);
  }
  31% {
    background-color: var(--red);
  }
  100% {
    background-color: var(--red);
  }
}

.time_passed {
  font: var(--font-paragraph-small);
  color: var(--dark);
}

.recording-bar .button {
  padding: 10px 20px;
}

.recording-bar .dropdown-item {
  font: var(--font-paragraph-Xsmall);
  color: var(--dark);
}

.tagger {
  background-color: var(--dark-light);
  color: var(--dark);
  font: var(--font-paragraph-Xsmall);
  cursor: pointer;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 6px 0px 20px;
  height: 39px;
  background-color: var(--accent-dark);
  color: var(--white);
  font: var(--font-paragraph-Xsmall-bold);
}

.tag span {
  background-color: var(--white);
  margin-left: 5px;
  color: var(--dark);
  min-height: 27px;
  min-width: 27px;
  max-height: 27px;
  max-width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag:disabled {
  color: var(--grey-medium);
  background-color: var(--grey-light);
  cursor: not-allowed;
}

.tag:disabled span {
  color: var(--grey-medium);
  background-color: var(--grey);
  cursor: not-allowed;
}

.loader {
  border: 6px solid var(--grey);
  border-top: 6px solid var(--blue);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  margin-left: -18px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader_text {
  position: absolute;
  left: 50%;
  margin-left: 35px;
  font: var(--font-paragraph-Xsmall);
}

.my_navbar:disabled .loader {
  left: 10%;
}


/* --------- Recording Bar --------- */


/* --------- Side Bar --------- */

.sidebar {
  overflow-y: scroll;
  height: 100%;
  background-color: #d8e1e2;
  border-right: 1px solid var(--grey);
  padding-bottom: 50px;
}

.settings-button {
  width: fit-content;
  margin: 20px;
  padding: 0;
  background: none;
}

.settings-button g {
  fill: var(--grey-medium);
}

.settings-button:disabled g {
  fill: var(--grey);
}

.sidebar-content p.no-settings {
  font: var(--font-paragraph-small);
  font-style: italic;
  color: var(--grey-medium);
  padding: 0 20px 10px 20px;
}

.sidebar-content,
.dg.main {
  width: 330px !important;
}

.sidebar-content {
  opacity: 0;
  margin-left: -300px;
  transition: all 400ms;
}

.sidebar-content.open {
  opacity: 100%;
  margin-left: 0;
}

.sidebar-content .text-container {
  padding: 0 20px 10px 20px;
}

.sidebar-content .text-container p {
  font: var(--font-paragraph-small);
}


/* --------- Side Bar --------- */

.stats {
  position: absolute;
  right: 0;
  cursor: pointer;
}