{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static  %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<link href="{% static "style.css" %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<body>
  <main class="container mt-4 mt-lg-5 align-items-center">
  <form method="post" style="color: white;">
    {% csrf_token %}
    <div class="row" style="width: 50%; padding-bottom: 2%;">
        {{ form.username|as_crispy_field }}
    </div>
    <div class="row" style="width: 50%; padding-bottom: 2%; ">
        {{ form.skole|as_crispy_field }}
    </div>
    <div class="row" style="width: 50%; padding-bottom: 2%; ">
        {{ form.fag|as_crispy_field }}
    </div>
    <div class="row" style="width: 50%; padding-bottom: 2%; ">
      {{ form.password1|as_crispy_field }}
    </div>
    <div class="row" style="width: 50%; padding-bottom: 2%; ">
      {{ form.password2|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-primary">Opret Bruger</button>
  </form>
  </main>
</body>
{% endblock %}